body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
  
  .topnav {
    overflow: hidden;
    background-color: #40b4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.384);
  }
  
  .topnav a {
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a i{
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: rgb(223, 242, 245);
    color: #40b4c4;
    font-weight: bold;
  }
  
  .topnav .icon {
    display: none;
  }
  .imageBack img{
    width: 100%;
    mix-blend-mode: lighten;
    filter: grayscale(50%);
  }
  .welcomeText{
    width: 100%;
    text-align: center;
  }
  .welcomeText h1{
    font-family: Acme;
    color: #40b4c4;
    font-size: 50px;
  }
  .welcomeText p{
    font-size: 15px;
    text-align: justify;
  }
  .welcomeText p b{
    color: #40b4c4;
  }
  .card{
    text-align: center;
    max-width: 100%;
    height: 100%;
    background: rgb(237, 247, 252);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.384); 
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #40b4c4;
  }
  .card a{
    text-decoration: none;
    color:#40b4c4;
  }
  .card a:hover{
    font-weight: bold;
  }
  .card h1{
      font-family: Acme;
  }
  .card p{
    font-size: 15px;
    color: gray;
  }
  .title{
      background: #40b4c4;
      border-radius: 10px;
      width: 100%;
      color: white;
  }
  .card input{
      width: 100%;
      font-size: 14px;
      border-radius: 2px;
      border: 1px solid #40b4c4;
      margin: 10px;
  }
  .btn{
      width: 80%;
      margin: 10px;
      border-radius: 10px;
      background: #40b4c4;
      padding: 5px;
      font-size: 15px;
      color: white;
  }
  .btn:hover{
      background:rgba(255, 255, 255, 0.78);
      color: rgb(23, 145, 167); 
      cursor: pointer;
      font-weight: bold;
  }
  .btncheckout:hover{
    background:rgba(255, 255, 255, 0.78);
    color: rgb(23, 145, 167); 
    cursor: pointer;
    font-weight: bold;
}
  
  .facebookBtn{
    width: 93%;
    margin: 10px;
    border-radius: 2px;
    background: #1d67ac;
    color: white;
    font-size: 15px;
    padding: 5px; 
  }
  .facebookBtn:hover{
    cursor: pointer; 
  }
  .googleBtn{
    width: 93%;
    margin: 10px;
    border-radius: 2px;
    background: #f02727;
    color: white;
    font-size: 15px;
    padding: 5px; 
  }
  .googleBtn:hover{
    cursor: pointer; 
  }
  .flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
  .modal{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.623)
  }
  .contenido-modal{
    position: relative;
    background-color: white;
    margin: auto;
    width: 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
    animation-name: modal;
    animation-duration: 1s; 
  }
  .close{
    color: gray;
    font-size: 40px;
    font-weight: bold;
  }
  .close:hover{
    text-decoration: none;
    cursor: pointer;
  }
    .modal-header{
      width: 100%;
      background-color: #40b4c4;
      color: white;
      padding: 8px 16px;
      font-family: Acme;
    }
    .modal-body{
      padding: 10px 6px;
    }
    .owner{
      width: 100%;
      padding: 10px;
      text-align: center;
    }
    .owner h2{
      color: gray;
    }
    .owner hr{
      margin: 10px;
    }
    .owner input{
      width: 100%;
      border: 1px solid #40b4c4;
      border-radius: 2px;
      margin: 5px;
    }
    .owner p{
      color: gray;
      font-size: 15px;
    }
    .pets{
      display:none;
      width: 100%;
      padding: 10px;
      text-align: center;
    }
    .pets h2{
      color: gray
    }
    .pets hr{
      margin: 10px;
    }
    .pets select{
      width: 100%;
      background: white;
      border: 1px solid #40b4c4;
      border-radius: 2px;
    }
    .pets input{
      width: 100%;
      border: 1px solid #40b4c4;
      border-radius: 2px;
      margin: 5px;
    }
    .pets textarea{
      width: 100%;
      border: 1px solid #40b4c4;
      border-radius: 2px;
    }
    .pets p{
      color:gray;
      font-size: 15px;
    }
    .pets a{
      text-decoration: none;
      color:#40b4c4;
      font-size: 14px;
    }
    .pets a:hover{
      font-weight: bold;
    }
    .logIn{
      display: none;
    }
    select{
      width: 100%;
    }
    .alerta{
      color:red;
      display: none;
    }
    .aside{
      overflow: hidden;
      background-color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.384);
      border-radius: 10px;
      border: 1px solid #3697A5;
      float: left;
    }
    
    .post{
      text-align: center;
      width: 100%;
      background:  rgb(230, 247, 255);
      border: 1px solid #40b4c4;
      border-radius: 2px;
      padding: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.384);
    }
    .post div{
      display: inline-block;
    }
    .postText{
      max-width: 100%;
      min-width: 100%;
      border: 1px solid #40b4c4;
      border-radius: 2px;
      height: 100px;
    }
    .postTextName{
      text-align: left;
      margin:1%;
      max-width: 100%;
      min-width: 100%;
      border: 1px solid #40b4c4;
      border-radius: 2px;
      ; 
    }
    .postear{
      max-width: 100%;
      border: 1px solid #40b4c4;
      border-radius: 2px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.384);
      background-color: rgb(230, 247, 255);
      padding: 10px;
    }
    .postBox{
      width: 100%;
      background: #ffff;
      color: grey;
      border: 1px solid #3697A5;
      border-radius: 2px;
    }
    .barPost{
      height: 10px;
      color: rgb(230, 247, 255);
      border: 0;
    }
    .postTextName{
      margin-left: -0.1%;
    }
    .horizontal{
      display: none;
    }
    .menu li a{   
       background-color:#40b4c4;
       color:#ffff;
       padding: 10px 15px;
       display: block;
      
      }
      .menu a:hover {
        background: #3697A5;
        color: white;
      }
      li{
        list-style: none;
        right: -262px;
        bottom: 39px;
      }
      .menu li ul{
        display:none;
        position: absolute;
        min-width: 260px;
      }
      .menu li:hover > ul{
        display: block;
      }
      .menu li ul li{
        position: relative;
      }
      .menu li ul li ul{
        right:3px;
        top: 36px;
      }
      .textmessage{
        width: 100%;
        overflow: auto;
        height: auto;
        word-break: break-all;
      }
      .postBox-header{
        width: 100%;
        background: #318a96;
        color: white;
      }
      .paw{
        width: 5%;
        display: inline-block;
      }
      .titlePost{
        width: 94%;
        display: inline-block;
      }
      .titlePost h3{
        width: 100%;
        height: auto;
      }
      .iconos{
      width: 100%;
      }
      .iconos div{
        display: inline-block;
        width: 24%;
        text-align: center;
      }

    @keyframes modal{
      from{
        bottom: -330px; 
        opacity: 0;
      }
      to{
        bottom: 0;
        opacity: 1;
      }
    }
  @media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .contenido-modal{
      width: 95%;
    }
    .welcome{
      font-size: 20px;
    }
    .horizontal{
      width: 100%;
      margin-top: 10px;
      display: block;
    }
    .vertical{
      display:none;
      text-align: center;
    }
    .facebookBtn{
      width: 80%;
    }
    .googleBtn{
      width: 80%;
    }
    .imageBack{
      display: none;
    }
    .texto{
      display: none;
    }
    .iconos div{
      width: 23%;
    }
    .titlePost{
      width: 92%;
    }
  }
  